body {
    background-color: lightgray;
}

.title {
    text-align: center;
    margin-bottom: 1em;
}


.container {
    margin-bottom: 4em;
    background-color: white;
    padding: 2em;
}

.material-icons {
    cursor: pointer;
}
