body {
    background-color: lightgray;
}

.title {
    text-align: center;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 1.25em;
    text-align: center;
}

p.col.s1 {
    cursor: default;
}


div.container {
    margin-bottom: 4em;
    background-color: white;
    padding: 3em;
    border-radius: .75em;
    
}

.material-icons {
    cursor: pointer;
    margin-top: .53em;
}

.past {
    color: lightgray;
}

.future {
    color: aquamarine;
}

